:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
/* Start page */
.page {
  min-height: 100vh;
  background-color: #f1f5f9;
}
.page .sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
  padding: 20px;
  background-color: white;
  position: relative;
}
@media (max-width: 767px) {
  .page .sidebar {
    width: 58px;
    padding:30px 10px 0 10px;
    }
  .page .sidebar span {
    display: none;
  }
  .page .sidebar h3::before {
    display: none;
  }
  .page .sidebar h3::after {
    display: none;
  }
  .page .sidebar > h3 { 
    font-size: 13px;
    margin-bottom: 15px;
  }
}
/* End page */
/* Start sidebar */
.sidebar > h3 {
  margin-bottom: 50px;
}
.page .sidebar h3::before {
  content: "";
  position: absolute;
  background-color: black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px solid white;
  bottom: -23px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
.page .sidebar h3::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: black;
  bottom: -14px;
  left: 50%;
  transform: translate(-50%);
}
.page .sidebar ul li a {
  transition: .3s;
  margin-bottom: 5px;
}
.page .sidebar ul li a:hover,
.page .sidebar ul li a.active {
  background-color: #f6f6f6;
}
.page .sidebar span {
  margin-left: 10px;
}
/* End sidebar */
/* Start content */
.content .input input {
  font-size: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 160px;
  margin-left: 5px;
  padding-left: 30px;
  transition: .3s;
}
.content {
  overflow: hidden;
}
.content .input input:focus {
  width: 100%;
}
.content .input::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  position: absolute;
  font-weight: 900;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.content .icons span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: -5px;
  top: -5px;
  background-color: var(--red-color);
}
.content .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before {
  width: 120px;
  background-color: white;
}
.page h1::after {
  width: 40px;
  background-color: black;
}
.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -10px;
  left: 0;
}
/* End content */
/* Start Body */
.body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
  margin: 20px 20px 0px 20px;
}
@media (max-width: 767px) {
  .page .body {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.body .box .img-1 {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  margin-top: -32px;
  margin-left: 20px;
  box-shadow: 0 0 5px #ddd;
}
@media (max-width: 767px) {
  .body .box .img-1 {
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .page .body .under-intro {
    display: block;
  }
  .page .body .under-intro > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
.body .box .intro img {
  width: 200px;
  margin-bottom: -10px;
  overflow: hidden;
}
.body .box .under-intro {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  margin: 20px 0px 20px;
}
.body .box .under-intro div {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.body .box .under-intro span {
  color: var(--grey-color);
  font-size: 14px;
  margin-top: 10px;
}
.body .visit:hover {
  background-color: var(--blue-alt-color);
}
/* End Body */
/* Start Draft */
.box .text {
  flex-direction: column;
  display: flex;
  margin-top: 30px;
}
.box .text input:first-child {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #eee;
  border: none; 
  font-size: 13px;
}
.box .text textarea {
  padding: 10px;
  background-color: #eee;
  border: none;
  resize: none;
  min-height: 180px;
  font-size: 13px;
}
.gt {
  padding: 4px 10px;
  margin: 0 15px 15px auto;
  transition: .3s;
}
.box .save:hover {
  background-color: var(--blue-alt-color);
}
/* End Draft */
/* Start Yearly Targets */
.dad .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.details {
  flex: 1;
}
.dad .progress > span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.dad .progress > span span {
  padding: 2px 5px;
  position: absolute;
  right: -16px;
  bottom: 16px;
  font-size: 13px;
  color: white;
}
.dad .progress > span span::after {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.dad .progress > .blue span::after {
  border-top-color: var(--blue-color);
}
.dad .progress > .orange span::after {
  border-top-color: var(--orange-color);
}
.dad .progress > .green span::after {
  border-top-color: var(--green-color);
}
/* End Yearly Targets */
/* Start tickets Statistics */
.tickets .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}
/* End tickets Statistics */
/* Start Latest News */
.News .lat-box:not(:last-child) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
@media (max-width: 767px) {
  .page .News  {
    text-align: center;
  }
  .page .News .lat-box {
    display: block;
  }
  .page .News .lat-box .day {
    width: fit-content;
    margin: 10px auto
  }
}
.News .lat-box .tit {
  margin-left: 15px;
  line-height: .7;
  flex-grow: 1;
}
.News .lat-box .day {
  font-size: 13px;
  padding: 4px 10px;
  border-radius: 6px;
}
/* End Latest News */
/* Start Latest Tasks */
.tasks .info:not(:last-child) {
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.tasks .task {
  flex-grow: 1;
  line-height: 1.5;
}
.tasks .done h3,
.tasks .done p {
  text-decoration: line-through;
} 
.tasks .done {
  opacity: .3;
}
.tasks .delete {
  cursor: pointer;
  transition: .3s;
}
.tasks i:hover {
  color: var(--red-color);
}
/* End Latest Tasks */
/* Start Top Search Items */
.items .top-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.num {
  background-color: #eee;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 13px;
}
/* End Top Search Items */
/* Start Latest Uploads */
.uploads .upload { 
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.uploads .upload:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.uploads .body-box {
  flex-grow: 1;
}
.uploads .body-box span {
  font-size: 15px;
  color: var(--grey-color);
}
/* End Latest Uploads */
/* Start Last Project Progress */
.project ul::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
  left: 11px;
}
.project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  border-radius: 50%;
  margin-right: 15px;
  display: block;
  z-index: 1;
}
.project ul li.done::before {
  background-color: var(--blue-color);
} 
.project ul li.current::before {
  animation: change-color 1s infinite alternate;
}
@keyframes change-color {
  30% {
    background-color: var(--blue-color);
  }
  60% {
    background-color: var(--blue-alt-color);
  }
  100% {
    background-color: white;
  }
}
.project img {
  position: absolute;
  width: 160px;
  right: 0;
  bottom: 0;
  opacity: .1;
  transition: 1s;
}
.project {
  transition: 1s;
}
.project:hover img {
  transform: translateY(-160px);
}
@media (max-width: 767px) {
  .page .project img {
    display: none;
  }
}
/* End Last Project Progress */
/* Start Last Project Progress */
.reminders ul li > span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: block;
}
.reminders ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.reminders .blue {
  border-left: 2px solid var(--blue-color);
}
.reminders .green {
  border-left: 2px solid var(--green-color);
}
.reminders .orange {
  border-left: 2px solid var(--orange-color);
}
.reminders .red {
  border-left: 2px solid var(--red-color);
}
/* End Last Project Progress */
/* End Latest Post */
.post .post-img img {
  width: 50px;
  margin-right: 20px;
}
.post .post-body {
  padding: 20px 0 20px 0px;
  margin-bottom: 20px;
  min-height: 160px;
  line-height: 1.8;
  text-transform: capitalize;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
/* End Latest Post */
/* Start Social Media Stats */
.media .twitter {
  background-color: rgb(29 161 242 / 20%);
  color: #1da1f2;
}
.media .twitter i, 
.media .twitter a {
  background-color: #1da1f2;
}
.media .facebook {
  background-color: rgb(24 119 242 / 20%);
  color: #1da1f2;
}
.media .facebook i, 
.media .facebook a {
  background-color: #1877f2;
}
.media .youtube {
  background-color: rgb(255 0 0 / 20%);
  color: red;
}
.media .youtube i, 
.media .youtube a {
  background-color: red;
}
.media .linkedin {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}
.media .linkedin i, 
.media .linkedin a {
  background-color: #0077b5;
}
.media .box i {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  transition: .3s;
}
.media .box i:hover {
  transform: rotate(5deg);
}
.media .box {
  padding-left: 70px;
}
.media .box .gb {
  padding: 4px 10px;
  cursor: pointer;
}
/* End Social Media Stats */
 /* Start Projects */
.projects thead tr td {
  background-color: #eee;
  font-weight: bold;
  padding: 15px;
}
.projects .responsive-table {
  overflow-x: auto;
}
.projects table td img {
  width: 32px;
  padding: 2px;
  border-radius: 50%;
  background-color: white;
}
.projects table td img:not(:first-child) {
  margin-left: -20px;
}
.projects table {
  min-width: 1000px;
  border-spacing: 0;
}
.projects table tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  padding: 15px;
  transition: .3s;
}
.projects table tbody tr:hover td {
  background-color: #faf7f7;
}
.projects table tbody tr td:last-child {
  border-right: 1px solid #eee;
}
 /* End Projects */
/* Start Setting-Page */
/* Start set-box */
.sit-box textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 12px;
  resize: none;
  border-color: #ccc;
  border-radius: 6px;
  margin-top: 20px;
  display: block;
}
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: .3s;
  cursor: pointer;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  position: absolute;
  font-weight: bold;
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: .3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}
.settings-page :disabled {
  background-color: #f0f4f8;
  color: #bbb;
  cursor: no-drop;
  display: inline-flex;
  width: calc(100% - 80px);
}
/* End set-box */
/* Start Security Info */
.settings-page .sec-box .button {
  padding: 4px 10px;
  margin: 0 0 15px auto;
  transition: .3s;
}
.settings-page .sec-box .button:hover {
  background-color: var(--blue-alt-color);
}
/* End Security Info */
/* Start social-box */
.settings-page .social-box input {
  background-color: #f6f6f6;
  height: 40px;
  border: 1px solid #ddd;
  border-radius:0px 6px 6px 0px;
  padding-left: 10px;
}
.settings-page .social-box i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  width: 40px;
  height: 40px;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
  transition: .3s;
}
.settings-page .social-box > div:focus-within i {
  color: black;
}
/* End social-box */
/* Start Widgets Control */
 .widgets .control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
.widgets .control label {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
.widgets .control label::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
  left: 0;
  top: 50%;
  margin-top: -10px;
  border-radius: 4px;
}
.widgets .control label::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  position: absolute;
  background-color: var(--blue-color);
  color: white;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 50%;
  font-size: 12px;
  font-weight: 900;
  margin-top: -10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(360deg);
  transition: 0.3s;
}
.widgets .control label:hover::before {
  border-color: var(--blue-alt-color);
}
.widgets .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
} 
/* End Widgets Control */
/* Start Backup Manager */
.backup input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.backup .manager label {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
.backup .manager label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid var(--grey-color);
  left: 0px;
  top: 55%;
  margin-top: -11px;
  border-radius: 50%;
}
.backup .manager label::after {
  content: "";
  position: absolute;
  background-color: var(--blue-color);
  color: white;
  width: 12px;
  height: 12px;
  left: 5px;
  top: 4px;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s;
}
.backup .manager input[type="radio"]:checked + label::after {
  transform: scale(1);
} 
.backup .manager input[type="radio"]:checked + label::before {
  border-color: var(--blue-color);
} 
.server {
  border: 1px solid #eee;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.server label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.backup .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
@media (max-width: 767px) {
  .servers {
    flex-direction: column;
  }
}

/* End Backup Manager */
/* End Setting-Page */
/* Start Profile-Page */
@media (max-width: 767px) {
  .overview {
    flex-direction: column;
  }
}
.overview .avatar-box {
  width: 300px;
  border-right: 1px solid #eee;
}
@media (max-width: 767px) {
  .overview .avatar-box {
    border-right: none;
  }
}
.overview .avatar-box > img {
  width: 120px;
  height: 120px;
}
.overview .avatar-box .level {
  height: 6px;
  overflow: hidden;
  margin: auto;
  width: 70%;
}
.overview .avatar-box .level span {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--blue-color);
  height: 100%;
  border-radius: 6px;
}
.profile-page .info-box .box {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: .3s;
}
.profile-page .info-box .box:hover {
  background-color: #f9f9f9;
}
.profile-page .info-box .box > div {
  min-width: 250px;
  padding-top: 10px;
}
@media (max-width: 767px) {
   .profile-page .info-box {
    text-align: center;
   }
}
.overview .info-box .box h4 {
  color: var(--grey-color);
  font-weight: normal;
  font-size: 15px;
  width: 100%;
  margin: 0;
}
.profile-page .info-box .toggle-switch {
  height: 20px;
}
.profile-page .info-box .toggle-switch::before {
  width: 12px;
  height: 12px;
  font-size: 8px;
}
@media (max-width: 767px) {
  .profile-page .info-box .toggle-switch{
    margin: auto;
  }
}
.profile-page .info-box .toggle-checkbox:checked + .toggle-switch::before {
  left: 62px;
}
/* Start latest-skills */
.latest-skills .skill-box {
  padding: 15px 0px 15px 0px;
}
.latest-skills .skill-box:not(:last-child) {
  padding: 15px 0px;
}
@media (max-width: 767px) {
  .latest-skills {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .awm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
.latest-skills .skill-box div {
  background-color: #eee;
  margin-right: 5px;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
}
@media (max-width: 767px) {
  .skill-box {
    text-align: center;
  }
}
/* End latest-skills */
/* Start Latest Activities */
.latest-skills .activities-box img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .latest-skills .activities-box img {
    margin-bottom: 10px;
  }
}
.activities-box .Latest-box:not(:last-child) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .activities-box .Latest-box {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.latest-skills .activities-box .data {
  margin-left: auto;
  text-align: end;
}
@media (max-width: 767px) {
  .latest-skills .activities-box .data {
    margin: auto;
    text-align: center;
  }
}
/* End Latest Activities */
/* Start Projects Page */
.projects-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .projects-page {
    grid-template-columns: minmax(250px, 1fr);;
    margin: 10px;
    padding: 10px;
    gap: 10px;
  }
}
.projects-page .zeyada > span {
  font-size: 12px;
  color: var(--grey-color);
  position: absolute;
  right: 10px;
  top: 10px;
}
.projects-page .zeyada-img {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.projects-page .zeyada-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: -20px;
  margin-top: 40px;
}
.projects-page .zeyada-img img:hover {
  position: relative;
  z-index: 1;
}
.projects-page .zeyada-text {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 15px 0 15px 0;
  margin: 15px 0 15px 0;
  border-bottom: 1px solid #eee;
}
@media (max-width: 767px) {
  .projects-page .zeyada-text {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 767px) {
.projects-page .zeyada-text span:not(:last-child) {
    margin-bottom: 15px;
}
}
.projects-page .zeyada-text span {
  background-color: #eee;
  margin-left: 5px;
  width: fit-content;
  font-size: 14px;
  padding: 3px 8px;
  border-radius: 6px;
}
@media (max-width: 767px) {
  .projects-page .prog {
    flex-direction: column;
  }
  .projects-page .prog .score {
    margin-bottom: 10px;
    overflow: hidden;
  }
}
.projects-page .prog .score {
  background-color: #eee;
  height: 8px;
  width: 280px;
  border-radius: 6px;
}
.projects-page .prog .score > span {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 6px;
}
/* End Projects Page */
/* Start Courses */
.courses-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .courses-page {
    grid-template-columns: minmax(200px, 1fr);
  }
}
.courses-img .cover {
  width: 100%;
}
.courses-img .img-two {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  top: 20px;
  left: 20px;
}
.courses-page .courses-box .description {
  line-height: 1.6;
  margin-top: 15px;
}
.courses-page .courses-box .courses-down {
  border-top: 1px solid #eee;
}
.courses-page .courses-box .courses-down .title {
  color: white;
  padding: 4px 10px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
/* End Courses */
/* Start Friends-page */
.friends-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .friends-page {
    grid-template-columns: minmax(200px, 1fr);
  }
}
.friends-page .friends-box .friends-head {
  text-align: center;
}
.friends-page .friends-head .contact {
  position: absolute;
  left: -10px;
  top: -10px;
}
.friends-page .friends-head .contact i {
  background-color: #eee;
  color: #666;
  padding: 10px;
  border-radius: 50%;
  font-size: 13px;
  cursor: pointer;
  transition: .3s;
}
.friends-page .friends-head i:hover {
  background-color: var(--blue-color);
  color: white;
}
.friends-page .friends-head img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px 0 10px 0px;
}
.friends-page .friends-body {
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 15px 0;
  margin: 15px 0;
}
.friends-page .friends-body .vip {
  position: absolute;
  right: 0px;
  bottom: 50%;
  transform: translateY(50%);
  font-size: 40px;
  opacity: .2;
}
.new-gt {
  padding: 4px 10px;
  border-radius: 6px;
}
/* End Friends-page */
/* Start Files Page */

.files-page {
  flex-direction: row-reverse;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .files-page {
    flex-direction: column;
    align-items: normal;
  }
}
.files-page .files-stats {
  min-width: 260px;
}
.files-page .box-1 {
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 13px;
}
.files-page .box-1 .icon {
  margin-right: 10px;
  display: flex;
  width: 40px;
  height: 40px;
}
.files-page .box-1 .blue {
  background-color: rgb(0 117 255 / 20%);
}
.files-page .box-1 .green {
  background-color: rgb(34 197 94 / 20%);
}
.files-page .box-1 .red {
  background-color: rgb(244 67 54 / 20%);
}
.files-page .box-1 .orange {
  background-color: rgb(245 158 11 / 20%);
}
.files-page .files-stats .size {
  margin-left: auto;
}
.files-page .files-stats .upload {
  margin: 15px auto 0;
  padding: 10px 15px;
  transition: .3s;
}
.files-page .files-stats .upload:hover {
  background-color: var(--blue-alt-color);
}
.files-page .files-stats .upload:hover i {
  animation: go-up 0.8s infinite;
}
@keyframes go-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
/* files-content */
.files-page .files-content {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.files-page .files-content .content-box img {
  width: 64px;
  height: 64px;
  margin: 15px 0;
  transition: .3s;
}
.files-content .content-box .info {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #eee;
  color: var(--grey-color);
  font-size: 13px;
}
.files-page .files-content .content-box:hover img {
  transform: rotate(5deg);
}
/* End Files Page */
/* Start Plans Page */
.plans-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 767px) {
  .plans-page {
    grid-template-columns: minmax(250px, 1fr);;
    margin: 10px;
    padding: 10px;
    gap: 10px;
  }
}
.plans-page .plan.green .plan-head {
  outline-color: var(--green-color);
}
.plans-page .plan.blue .plan-head {
  outline-color: var(--blue-color);
}
.plans-page .plan.orange .plan-head {
  outline-color: var(--orange-color);
}
.plans-page .plan .plan-head {
  border: 3px solid white;
  outline: 3px solid transparent;
}
.plans-page .plan .price {
  position: relative;
  font-size: 40px;
  width: fit-content;
  margin: auto;
}
.plans-page .plan .price span {
  position: absolute;
  font-size: 25px;
  top: 0;
  left: -20px;
}
.plans-page .plan ul li {
  border-bottom: 1px solid #eee;
  padding: 15px 0;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.plans-page .plan ul li i:first-child {
  margin-right: 5px;
  font-size: 18px;
}
.plans-page .plan ul li .help {
  margin-left: auto;
  color: var(--grey-color);
  cursor: pointer;
}
.plans-page .plan ul li .yes {
  color: var(--green-color);
}
.plans-page .plan ul li i:not(.yes, .help) {
  color: var(--red-color);
}
/* End Plans Page */